.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  display: block;
  background-color: #000;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.hero {
  margin-bottom: 60px;
}

.white-coint {
  position: relative;
  background-color: #fff;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 40px;
  color: #000;
  font-size: 40px;
  line-height: 45px;
  font-weight: 400;
  text-align: center;
}

.div-block {
  position: absolute;
  left: 0px;
  top: -50px;
  right: 0px;
  text-align: center;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.numbers-box_2 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.content-section {
  position: static;
  display: block;
  max-width: 1074px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 100px;
  text-align: center;
}

.testnet-number {
  color: #fff;
  text-align: center;
}

.paragraph {
  text-align: center;
}

.column_name {
  padding: 60px 0px 50px 45px;
  text-align: center;
}

.number-description {
  margin-bottom: 15px;
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.numbers-case {
  position: static;
  padding: 0px 0px 0px 24px;
  border-radius: 6px 6px 0px 0px;
  background-color: #000;
}

.numbers-testnet {
  margin-bottom: 0px;
  color: #fff;
  text-align: left;
}

.div-block-2 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -36px;
  margin-top: 0px;
  margin-left: auto;
  border-radius: 3px;
  text-align: center;
}

.button {
  padding: 24px 32px;
  float: none;
  clear: none;
  border-radius: 3px;
  background-color: #00dab0;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.button:hover {
  background-color: #00b78b;
}

.button.button-header {
  margin-bottom: 30px;
}

.button.button-header.button-smaller {
  margin-right: 8px;
  margin-left: 0px;
  padding-right: 40px;
  padding-left: 40px;
  font-weight: 400;
  text-align: left;
}

.paragraph-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 750px;
  margin-top: 30px;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.simple-links {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.link {
  padding-left: 20px;
  background-image: url('../images/block-explorer.svg');
  background-position: 0px 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  color: #000;
  font-size: 18px;
}

.simple-link-faucet {
  padding-left: 20px;
  background-image: url('../images/faucet.svg');
  background-position: 0px 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  color: #000;
  font-size: 18px;
}

.paragraph-2 {
  font-size: 25px;
  text-align: center;
}

.section-title-on-dark {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 40px;
  line-height: 45px;
  font-weight: 400;
  text-align: center;
}

.text-field {
  width: 250px;
  margin-bottom: 0px;
  float: left;
  clear: none;
  border: 1px solid #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #000;
  color: #fff;
}

.submit-button {
  width: 160px;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.submit-button:hover {
  background-color: #cacaca;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 300%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  width: 25px;
  margin-right: 50px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.grid-2 {
  grid-column-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link-block-2 {
  width: 25px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.link-block-2:hover {
  opacity: 1;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-transform: scale3d(2, 2, 2) translate(0px, 0px);
  transform: scale3d(2, 2, 2) translate(0px, 0px);
}

.link-block-3 {
  width: 25px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.link-block-3:hover {
  -webkit-transform: scale3d(2, 2, 2);
  transform: scale3d(2, 2, 2);
}

.link-block-4 {
  width: 25px;
}

.link-block-5 {
  width: 25px;
}

.proper-hero {
  display: block;
  padding-top: 0px;
}

.title-hero {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  font-size: 65px;
  line-height: 1.2em;
  font-weight: 400;
  text-align: left;
}

.paragraph-hero {
  display: block;
  margin-top: 25px;
  margin-bottom: 50px;
  padding-right: 80px;
  color: #fff;
  font-size: 25px;
  line-height: 40px;
  text-align: left;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-5 {
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 0px;
  background-image: url('../images/Platform_4.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
}

.div-block-6 {
  margin-top: 30px;
  margin-bottom: 90px;
}

.image-3 {
  max-width: 90%;
}

.grid-4 {
  float: right;
  grid-column-gap: 0px;
  grid-template-areas: ". . . .";
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-7 {
  width: 200px;
}

.link-block-6 {
  float: left;
}

.link-2 {
  color: #00dab0;
  font-size: 16px;
  text-decoration: none;
}

.link-2:hover {
  color: rgba(74, 249, 216, .77);
}

.nav-regular-link {
  color: #9b9b9b;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.nav-regular-link:hover {
  color: #fff;
}

.nave-footer {
  position: static;
  width: 300px;
  margin: 100px auto 30px;
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.div-block-8 {
  text-align: left;
}

.html-embed {
  background-color: #000;
}

.grid-5 {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link-block-7 {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.link-block-7:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.link-block-8 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.link-block-8:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.link-block-9 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.link-block-9:hover {
  -webkit-transform: translate(0px, 0px) scale(1.5);
  -ms-transform: translate(0px, 0px) scale(1.5);
  transform: translate(0px, 0px) scale(1.5);
}

.link-block-10 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.link-block-10:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.media-row {
  display: block;
  max-width: 250px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

.form-2 {
  margin-left: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button-secondary {
  padding: 20px 30px;
  float: none;
  clear: none;
  border-radius: 3px;
  background-color: #00dab0;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.button-secondary:hover {
  background-color: #00b78b;
}

.button-secondary.button-header {
  margin-bottom: 30px;
}

.button-secondary.button-header.button-smaller {
  margin-right: 8px;
  margin-left: 8px;
  padding: 22px 40px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(168.44036697247708, 100.00%, 42.75%, 1.00);
  background-color: transparent;
  color: #fff;
  font-weight: 400;
}

.image-8 {
  max-width: 10%;
  text-align: left;
}

.image-9 {
  margin-right: 0px;
  padding-right: 0px;
}

.image-10 {
  max-height: 80px;
  max-width: none;
}

.icon_column_1 {
  display: block;
  padding: 80px 0px 50px 40px;
  text-align: center;
}

.image-11 {
  max-height: 80px;
  max-width: none;
}

.image-12 {
  max-height: 80px;
  max-width: none;
}

.image-13 {
  max-height: 80px;
  max-width: none;
}

.numbers-case_2 {
  position: static;
  margin-bottom: 0px;
  padding: 0px 0px 0px 24px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #000;
}

.column_name_2 {
  padding: 30px 0px 88px 45px;
  text-align: center;
}

.icon_column_2 {
  display: block;
  padding: 50px 0px 60px 40px;
  text-align: center;
}

.image-14 {
  max-height: 80px;
  max-width: none;
  margin-left: 0px;
  padding-left: 0px;
}

.numbers-case1 {
  position: static;
  padding: 20px 0px 10px;
  border-radius: 6px 6px 0px 0px;
  background-color: #000;
}

.number-description_1 {
  margin-bottom: 15px;
  padding-top: 16px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.column_inside {
  position: relative;
  overflow: visible;
  padding-bottom: 0px;
  padding-left: 0px;
}

.column-5 {
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
}

.numbers-case2 {
  position: static;
  padding: 0px 0px 75px;
  border-radius: 0px 0px 6px 6px;
  background-color: #000;
}

.image-15 {
  max-height: 80px;
  max-width: none;
}

@media (max-width: 991px) {
  .content-section {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
  }
  .column_name {
    padding-left: 0px;
  }
  .number-description {
    display: block;
  }
  .numbers-case {
    padding-left: 25px;
  }
  .button.button-header {
    margin-bottom: 0px;
  }
  .button.button-header.button-smaller {
    font-size: 18px;
  }
  .div-block-3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .simple-links {
    max-width: 400px;
  }
  .paragraph-2 {
    font-size: 1.5em;
  }
  .title-hero {
    margin-bottom: 0px;
    padding-top: 0px;
    font-size: 45px;
    line-height: 1em;
  }
  .paragraph-hero {
    margin-top: 15px;
    margin-bottom: 30px;
    padding-right: 0px;
    font-size: 20px;
    line-height: 34px;
  }
  .grid-3 {
    grid-auto-columns: 1fr;
    grid-row-gap: 16px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .div-block-5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .div-block-8 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .button-secondary.button-header {
    margin-bottom: 0px;
  }
  .button-secondary.button-header.button-smaller {
    font-size: 18px;
  }
  .image-10 {
    overflow: visible;
    max-height: 60px;
    max-width: none;
    padding-left: 0px;
  }
  .icon_column_1 {
    padding-left: 0px;
  }
  .image-11 {
    max-height: 60px;
    max-width: none;
  }
  .image-12 {
    max-height: 60px;
    max-width: none;
  }
  .image-13 {
    max-height: 60px;
    max-width: none;
  }
  .icon_column_2 {
    padding-left: 0px;
  }
  .image-14 {
    max-height: 60px;
    max-width: none;
    margin-left: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .numbers-case1 {
    padding-left: 0px;
  }
  .columns-2 {
    padding-top: 0px;
  }
  .number-description_1 {
    display: block;
    padding-top: 6px;
    text-align: center;
  }
  .column_inside {
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
  }
  .column-5 {
    padding: 40px 20px 10px;
  }
  .numbers-case2 {
    padding-left: 0px;
  }
  .image-15 {
    max-height: 60px;
    max-width: none;
    padding-bottom: 0px;
  }
  .column-6 {
    padding-bottom: 0px;
  }
  .column-7 {
    max-height: none;
  }
}

@media (max-width: 767px) {
  .content-section {
    margin-right: 0px;
    margin-left: 0px;
  }
  .column_name {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .numbers-testnet {
    text-align: center;
  }
  .div-block-2 {
    bottom: -60px;
  }
  .button {
    width: 100%;
  }
  .button.button-header.button-smaller {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .paragraph-section {
    margin-top: 0px;
  }
  .column {
    padding-bottom: 30px;
  }
  .form {
    max-width: 100%;
  }
  .title-hero {
    padding: 0px 0px 0px 2px;
    text-align: center;
  }
  .paragraph-hero {
    padding-right: 0px;
    font-size: 18px;
    text-align: center;
  }
  .grid-3 {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .div-block-5 {
    height: 200px;
    background-position: 50% 50%;
    background-size: contain;
    text-align: left;
  }
  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .column-4 {
    padding-top: 15px;
  }
  .button-secondary {
    width: 100%;
  }
  .button-secondary.button-header.button-smaller {
    width: 50%;
    margin-right: 0px;
    margin-left: 8px;
  }
  .image-10 {
    max-height: 120px;
  }
  .icon_column_1 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
  }
  .image-11 {
    max-height: 120px;
  }
  .image-12 {
    max-height: 120px;
  }
  .image-13 {
    max-height: 120px;
  }
  .column_name_2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .icon_column_2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .image-14 {
    max-height: 120px;
    max-width: none;
    text-align: left;
  }
  .number-description_1 {
    text-align: center;
  }
  .column_inside {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .column-5 {
    padding-bottom: 20px;
  }
  .image-15 {
    max-height: 120px;
  }
}

@media (max-width: 479px) {
  .section-title {
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 38px;
  }
  .div-block-2 {
    bottom: -100px;
  }
  .button {
    margin-top: 0px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 400;
  }
  .button.button-header.button-smaller {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .paragraph-section {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
  }
  .div-block-3 {
    padding-top: 15px;
  }
  .link {
    padding-left: 25px;
    background-size: 20px;
    font-size: 20px;
  }
  .simple-link-faucet {
    padding-left: 25px;
    background-size: 20px;
    font-size: 20px;
  }
  .text-field {
    width: 100%;
  }
  .submit-button {
    width: 100%;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .title-hero {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 32px;
    line-height: 38px;
  }
  .paragraph-hero {
    font-size: 16px;
    line-height: 26px;
  }
  .div-block-5 {
    padding-bottom: 0px;
  }
  .div-block-6 {
    margin-bottom: 40px;
    text-align: left;
  }
  .link-block-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }
  .link-2 {
    font-size: 22px;
  }
  .nav-regular-link {
    font-size: 22px;
  }
  .nave-footer {
    width: 200px;
    margin-bottom: 40px;
    grid-row-gap: 30px;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .div-block-8 {
    display: block;
  }
  .grid-5 {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .link-block-7 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .link-block-8 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .link-block-9 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .link-block-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image-4 {
    width: 40px;
  }
  .image-5 {
    width: 40px;
  }
  .image-6 {
    width: 40px;
  }
  .image-7 {
    width: 40px;
  }
  .button-secondary {
    font-weight: 400;
  }
  .button-secondary.button-header.button-smaller {
    width: 100%;
    margin-top: 16px;
    margin-left: 0px;
    padding-left: 32px;
  }
  .image-10 {
    max-height: 80px;
  }
  .image-11 {
    max-height: 80px;
  }
  .image-12 {
    max-height: 80px;
  }
  .image-13 {
    max-height: 80px;
  }
  .image-14 {
    max-height: 80px;
  }
  .image-15 {
    max-height: 80px;
  }
}

#w-node-b63c824de158-e042f112 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ebc76b163d3c-e042f112 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b156224aed49-e042f112 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d31ca347ab38-e042f112 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-d31ca347ab38-e042f112 {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-b5a881e3940e-e042f112 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-b5a881e3940e-e042f112 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-b5a881e3940e-e042f112 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-b5a881e3940e-e042f112 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-eb23c9d41919-e042f112 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-eb23c9d41919-e042f112 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-eb23c9d41919-e042f112 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-754e68811e72-e042f112 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-754e68811e72-e042f112 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-56ea55f391c4-e042f112 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-56ea55f391c4-e042f112 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-48fb63d2b8ff-e042f112 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-48fb63d2b8ff-e042f112 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-6c29581be3fd-e042f112 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-6c29581be3fd-e042f112 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-aecd231eed60-e042f112 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-aecd231eed60-e042f112 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-aecd231eed64-e042f112 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-aecd231eed64-e042f112 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-aecd231eed62-e042f112 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-aecd231eed62-e042f112 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

